.dropzone
    background: $gay !important
    border: 1px dashed $white !important


.img-lineas
    object-fit: cover
    margin: 0 auto
    display: block
    image-rendering: auto


#u_0_2, #u_0_1, .btnface
    color: white

.-lines
    padding-top: 6px
    color: $azul

.-navposition
    z-index: 1020 !important
