



.box
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 60%
    padding: 20px
    background: rgba(0,0,0,.6)
    box-sizing: border-box
    box-shadow: 0 15px 25px rgb(0,0,0,.5)
    border-radius: 0px


.box h2
    color: #fff
    text-align: center

.box .card
    border: 0px
    padding: 0
    border-radius: 0px

.box .card-header
    border: 0px
    background-color: $azul-fdo
    padding: 4px
    margin: 0
    color: white
    text-align: center
    border-radius: 0px





.box .inputBox input
    width: 100%
    padding: 10px 0
    font-size: 1.1rem
    color: #fff
    margin-bottom: 30px
    border: none
    border-bottom: 1px solid #fff
    outline: none
    background: transparent

.inputBox label
    border: 1px solid red
    position: static
    top: 0
    left: 0
    padding: 10px 0
    font-size: .8rem
    color: #fff
    pointer-events: none
    transition: .5s



