
/*
   |--------------------------------------------------------------------------
   | Barra de idioma
   |--------------------------------------------------------------------------
   | Estilos usados en barra de idioma
   */
.-contenido
    padding-right: 0
    padding-left: 0


.-barra-de-titulo
    background-color: $gris
    box-shadow: 0px 0px 4px grey
    margin-bottom: 0px
    padding: 6px 0 0 6px


.-barra-de-titulo h3
    line-height: 1.6
    font-size: 1.8rem
    padding-left: 8px



/*
    |--------------------------------------------------------------------------
    | Cards
    |--------------------------------------------------------------------------
    | Estilos usados en las tarjetas
    */

.card
    border-radius: 0
