



/*
   |--------------------------------------------------------------------------
   | Top Nav
   |--------------------------------------------------------------------------
   | Estilos usados en barra de navegación
   */

.-topnav
    background-color: $azul-fdo



/*
   |--------------------------------------------------------------------------
   | Side Bar
   |--------------------------------------------------------------------------
   | Estilos usados en menu columna izquierda
   */


.-side
    width: 220px!important

#sidebar
    width: 100%
    padding-top: 40px

.-sidebar
    background-color: $azul-fdo
    padding-left: 0
    padding-right: 0
    width: 100%
    float: left
    height: 100vh




.-sidebar a
    background-color: $azul-btn
    font-family: "open sans", "Helvetica Neue"
    color: $texto-off
    text-decoration: none
    padding: 6px 0
    padding-left: 20px
    display: block
    font-size: .9rem

    +hover
            background-color: $azul-over
            color: white

.-sidebar a i
    font-size: 1.3rem
    padding-right: 6px


.dropdown-toggle
    background-color: $azul-drop!important



.-logout a

    font-family: "open sans", "Helvetica Neue"
    color: $azul-btn
    text-decoration: none
    padding: 0px 0
    padding: auto
    display: block
    font-size: .9rem

    +hover
        background-color: $azul-btn
        color: white




