
body
    color: #212529


.-err
    border: 1px solid red

.bg-light
    border: 1px solid red


.d-flex
    width: 185px

/*
    |--------------------------------------------------------------------------
    | botones
    |--------------------------------------------------------------------------
    | Estilos usados en las tarjetas
    */
.-btn-agregar
    background-color: $azul-btn
    font-family: "open sans", "Helvetica Neue"
    color: $texto-off
    text-decoration: none
    padding: 6px 20px 8px 20px
    display: inline
    font-size: .9rem
    margin-bottom: 20px
    line-height: 3
    +hover
        color: white
        text-decoration: none

.-on
    color: #38c172
.-off
    color: red

.btn-primary
    background-color: $azul-btn
    border-radius: 0
    border: 0
    padding: 2px 20px
    color: $texto-off
    +hover
        color: white




/*
    |--------------------------------------------------------------------------
    | Cards
    |--------------------------------------------------------------------------
    | Estilos usados en las tarjetas
    */


/*
   |--------------------------------------------------------------------------
   | Tablas
   |--------------------------------------------------------------------------
   | Estilos usados en tablas
   */

th
    font-weight: bold
    padding: 0 0 0 10px!important
    color: white
    background-color: $azul-fdo

table
    border: 1px solid $azul-fdo


/*
   |--------------------------------------------------------------------------
   | Formas
   |--------------------------------------------------------------------------
   | Estilos usados en formularios
   */

label
    color: #363636
    font-size: 1.2rem
    font-weight: 700


/*
   |--------------------------------------------------------------------------
   | Alerts
   |--------------------------------------------------------------------------
   | Estilos usados en formularios
   */

.alert-primary
    border-left: 4px solid $azul-fdo
    border-radius: 0

/*
   |--------------------------------------------------------------------------
   | Uploader
   |--------------------------------------------------------------------------
   | Estilos usados en uploader de imagenes
   */


.upload-btn-wrapper
    position: relative
    overflow: hidden
    display: inline-block


.upload-btn-wrapper .btn
    color: white
    cursor: alias
    padding: 2px 20px
    border-radius: 0px
    font-size: 1rem
    font-weight: bold



.upload-btn-wrapper input[type=file]
    font-size: 100px
    position: absolute
    left: 0
    top: 0
    opacity: 0



