<template>
    <div class="container">
        <a href="#" class="-btn-agregar" v-if="!addVa" @click="addVa = !addVa">
            <i class="fa fa-plus"></i>
            Nuevo
        </a>
        <form @submit.prevent="add(null)" v-else>
            <input type="text" class="form-control mb-2"
                   placeholder="Nombre de la categoria" v-model="categoryName">
            <button class="btn btn-primary" type="submit">Agregar</button>
        </form>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="row d-flex justify-content-between">
                            <p>Categorias</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(category, index) in categories" :key="category.id">
                                    <td>
                                        <form @submit.prevent="updated(category)" class="form-inline" v-if="editVa && categoryId == category.id">
                                            <input type="text" v-model="categoryName" id="nameCategory">
                                            <button type="submit" class="btn btn-sm ml-2">
                                                <i class="fa fa-save text-success"></i>
                                            </button>
                                            <button class="btn btn-sm" type="button" @click="cancelAdd(index)">
                                                <i class="fa fa-ban text-danger"></i>
                                            </button>
                                        </form>
                                        <span v-else>{{ category.name.es }}</span>
                                        <sub-categories-component :category="category" :addVaS="eventadd" :item="item"></sub-categories-component>
                                    </td>
                                    <td class="text-center">
                                        <a href="#" @click="addV(category.id)">
                                            <i class="fa fa-plus text-primary"></i>
                                        </a>
                                        <a href="#" @click="edit(category)">
                                            <i class="fa fa-edit text-warning"></i>
                                        </a>
                                        <a href="#" @click="destroy(category, index)">
                                            <i class="fa fa-trash text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SubCategoriesComponent from './SubCategoriesComponent.vue';
    import { mapState, mapMutations } from 'vuex';

    export default {
        name: 'Categories',
        components: {
            'sub-categories-component': SubCategoriesComponent
        },
        props: ['data'],
        data () {
            return {
                categories: this.data,
                addVa: false,
                editVa: false,
                categoryName: '',
                item: 0,
                categoryId: 0,
            }
        },
        computed: {
            ...mapState(['addVaS']),
        },
        methods: {
            ...mapMutations(['eventadd']),
            addV(index){
                this.eventadd(true);
                this.categoryName = '';
                this.item = index;
                console.log(index);
            },
            cancelAdd(index){
                this.addVaS = false;
                this.editVa = false;
                this.categoryName = '';
                this.item = index;
            },
            add(parent){
                if(this.categoryName.trim() === '' ){
                    alert('El nombre de la categoria no puede estar vacio');
                    return;
                }
                const params = {
                    name: this.categoryName,
                    parent_id: parent,
                };
                const url = '/cp/producto-categorias';
                axios.post(url, params)
                    .then((res) =>{
                        console.log(res.data);
                        this.categories.push(res.data);
                        this.categoryName = '';
                        this.addVa = false;
                    })
                    .catch(error => {
                        console.log(error);
                        this.categoryName = '';
                        this.addVa = false;
                    });
            },
            edit(category){
                this.editVa = true;
                const index = this.categories.findIndex(item => item.id === category.id);
                this.categoryName = this.categories[index].name.es;
                this.categoryId = category.id;

            },
            updated(category, parent) {
                let params = {
                        name: this.categoryName,
                        parent_id: parent
                    };
                const url = '/cp/producto-categorias/' + category.id;
                axios.put(url, params)
                    .then(res => {
                        const index = this.categories.findIndex(item => item.id === category.id);
                        this.categories[index] = res.data;
                        this.categoryName = '';
                        this.editVa = false;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            destroy(category, index) {
                const url = '/cp/producto-categorias/' + category.id;
                axios.delete(url)
                    .then(()=>{
                        this.categories.splice(index, 1);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        }
    }
</script>
