<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="#" class="-btn-agregar" @click="create" v-if="btnList">
                    <i class="fas fa-user-plus"></i>
                    Agregar
                </a>
                <a href="#" class="-btn-agregar" @click="list" v-if="btnCreate">
                    <i class="fas fa-list-alt"></i>
                    listado
                </a>
                <a href="#" class="-btn-agregar" @click="list" v-if="btnUpdate">
                    <i class="fas fa-list-alt"></i>
                    listado
                </a>
            </div>
        </div>
        <div class="row justify-content-center" v-if="btnList">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        Productos
                    </div>
                    <div class="card-body">
                        <paginate ref="paginator" name="galleries" :list="galleries" :per="10">
                            <table class="table table-striped table-hover mt-3">
                                <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="gallery in paginated('galleries')" :key="gallery.id">
                                    <td width="200px">
                                        <image-gallery-component :gallery="gallery"
                                                                 :images="imagesall">
                                        </image-gallery-component>
                                    </td>
                                    <td>
                                        <a href="#" @click="edit(gallery)">
                                            {{ gallery.name.es }}
                                        </a>
                                    </td>
                                    <td width="200px">{{ gallery.description.es }}</td>
                                    <td>
                                        <a href="#" class="" v-if="gallery.active" @click="active(gallery)">
                                            <i class="fa fa-power-off -on"></i>
                                        </a>
                                        <a href="#" class="" v-else @click="active(gallery)">
                                            <i class="fa fa-power-off -off"></i>
                                        </a>
                                        <a href="#" class=" text-danger" @click="destroy(gallery)">
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </paginate>
                        <paginate-links for="galleries" :classes="{'ul': 'pagination', 'li': 'page-item', 'a': 'page-link'}"></paginate-links>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" v-if="btnCreate">
            <form @submit.prevent="add()" class="my-3">
                <div class="row">
                    <div class="col-6">
                        <input type="text" v-model="gallery.name" placeholder="Nombre" class="form-control" required>
                    </div>
                    <div class="col-6">
                        <Datepicker class=""
                                    :value="gallery.datetime"
                                    v-model="gallery.datetime"
                                    :format="dateFormat">
                        </Datepicker>
                    </div>
                    <div class="col-6 mt-3">
                        <input type="text" v-model="gallery.description" placeholder="Descripción" class="form-control" required>
                    </div>
                </div>
                <hr>
                <h4 class="title is-5">Galería</h4>
                <div class="alert alert-primary" role="alert">
                    <i class="fas fa-eye"></i> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
                </div>
                <vue-dropzone ref="myVueDropzone"
                              id="dropzone"
                              :options="dropzoneOptions"
                              v-on:vdropzone-send="sendEvent">
                </vue-dropzone>
                <div class="text-right mt-3">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </form>
        </div>
        <div class="col-12" v-if="btnUpdate">
            <form @submit.prevent="update(gallery)" class="my-3">
                <div class="row">
                    <div class="col-6">
                        <input type="text" v-model="gallery.name" placeholder="Nombre" class="form-control" required>
                    </div>
                    <div class="col-6">
                        <Datepicker class=""
                                    :value="gallery.datetime"
                                    v-model="gallery.datetime"
                                    :format="dateFormat">
                        </Datepicker>
                    </div>
                    <div class="col-6 mt-3">
                        <input type="text" v-model="gallery.description" placeholder="Descripción" class="form-control" required>
                    </div>
                </div>
                <hr>
                <h4 class="title is-5">Galería</h4>
                <div class="row mt-3">
                    <div class="col-12 col-sm-6 col-md-4" v-for="(image, index) in images">
                        <img :src="image.name" class="img-fluid" :alt="image.name">
                        <a href="#" class="text-center text-danger" @click="deleteImage(image)">Eliminar</a>
                    </div>
                </div>
                <div class="alert alert-primary" role="alert">
                    <i class="fas fa-eye"></i> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
                </div>
                <vue-dropzone ref="myVueDropzone"
                              id="dropzoneE"
                              :options="dropzoneOptions"
                              v-on:vdropzone-send="sendEvent">
                </vue-dropzone>
                <div class="text-right mt-3">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.min.css';
import Editor from "@tinymce/tinymce-vue";

export default {
    name: "GalleriesComponent",
    components: {
        Datepicker,
        vueDropzone: vue2Dropzone,
        'editor': Editor
    },
    props: ['galleriesall', 'imagesall'],
    created() {
        Dropzone.autoDiscover = false;
        this.galleries = this.galleriesall;
        this.galleryCount = this.galleries.length + 1;
    },
    data () {
        return {
            message: '',
            paginate: ['galleries'],
            btnList: true,
            btnCreate: false,
            btnUpdate: false,
            galleries: [],
            images: [],
            galleryCount: 0,
            dropzoneOptions: {
                url: '/cp/gallery/store',
                dictDefaultMessage: "Arrastra tus Imagenes",
                thumbnailWidth: 300,
                thumbnailHeight: 300,
                headers: {
                    "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content
                }
            },
            dateFormat : 'yyyy-MM-dd',
            gallery: {
                name: '',
                description: '',
                datetime: new Date(),
            },
        }
    },
    mounted() {
        console.log('Component mounted.')
    },
    methods: {
        clear(){
            this.gallery.name = '';
            this.gallery.datetime = '';
            this.gallery.description = '';
        },
        create(){
            this.btnCreate = true;
            this.btnList = false;
            this.btnUpdate = false;
            this.clear();
        },
        list(){
            location.reload();
        },
        edit(gallery){
            console.log(this.gallery.id);
            this.btnCreate = false;
            this.btnList = false;
            this.btnUpdate = true;
            this.gallery = gallery;
            this.gallery.name = gallery.name.es;
            this.gallery.description = gallery.description.es;
            this.images = this.imagesall.filter(element => element.gallery_id == this.gallery.id);
            this.dropzoneOptions = {
                url: '/cp/gallery/store',
                dictDefaultMessage: "Arrastra tus Imagenes",
                thumbnailWidth: 300,
                thumbnailHeight: 300,
                params: {
                    gallery: this.gallery.id,
                    name: this.gallery.name,
                    description: this.gallery.description,
                    type: 'default',
                },
                headers: {
                    "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content
                }
            };
        },
        destroy(gallery){
            const url = '/cp/galerias/' + gallery.id;
            axios.delete(url)
                .then((res) => {
                    const index = this.galleries.findIndex(item => item.id === gallery.id);
                    this.galleries.splice(index, 1);
                    this.clear();
                })
                .catch(error => {
                    console.log(error);
                });
        },
        deleteImage(image){
            const url = '/cp/images/' + image.id;
            axios.delete(url)
                .then((res) => {
                    const index = this.images.findIndex(item => item.id === image.id);
                    this.images.splice(index, 1);
                })
                .catch(error => {
                    console.log(error);
                });
        },
        active(gallery){
            const url = '/cp/gallery/active';
            axios.post(url, gallery)
                .then((res) => {
                    const index = this.galleries.findIndex(item => item.id === gallery.id);
                    this.galleries[index].active = res.data.active;
                    this.clear();
                })
                .catch(error => {
                    console.log(error);
                });
        },
        add(){
            const params ={
                name: this.gallery.name,
                description: this.gallery.description,
                datetime: this.gallery.datetime,
            };
            console.log(params);
            const url = '/cp/galerias';
            axios.post(url, params)
                .then((res) => {
                    console.log(res);
                    this.galleries.push(res.data);
                    this.clear();
                    this.list();
                })
                .catch(error => {
                    console.log(error);
                });
        },
        update(gallery){
            const params ={
                name: this.gallery.name,
                description: this.gallery.description,
                datetime: this.gallery.datetime,
            };
            console.log(params);
            const url = '/cp/galerias/' + gallery.id;
            axios.put(url, params)
                .then((res) => {
                    console.log(res);
                    const index = this.galleries.findIndex(item => item.id === gallery.id);
                    this.galleries[index] = res.data;
                    this.clear();
                    this.list();
                })
                .catch(error => {
                    console.log(error);
                });
        },
    }
}
</script>

<style scoped>
.paginate-links{
    width: 100%;
    cursor: pointer;
    list-style: none;
    text-align: center;
}
.paginate-links li {
    display: inline;
    background-color:#E43A48;
    color:white;
    padding:0.5rem;
    margin-left:0.3rem;
    margin-right: 0.3rem;
    cursor:pointer;
    border-radius: 3px;
}
.paginate-result{
    text-align:center;
    margin-bottom: 1rem;
}
#dropzone {
    background-color: #a0a09c;
    font-family: 'Arial', sans-serif;
    border: 2px dashed #3560e2;
    border-radius: 15px;
    letter-spacing: 0.2px;
    color: #fff;
    transition: background-color .2s linear;
    padding: 40px;
    margin-bottom: 50px;
}
#dropzoneE {
    background-color: #a0a09c;
    font-family: 'Arial', sans-serif;
    border: 2px dashed #3560e2;
    border-radius: 15px;
    letter-spacing: 0.2px;
    color: #fff;
    transition: background-color .2s linear;
    padding: 40px;
    margin-bottom: 50px;
}
</style>
