<template>
    <div>
        <img :src="image.name" class="img-fluid" :alt="image.name">
    </div>
</template>

<script>
export default {
    name: "ImageGalleryComponent",
    props: ['images', 'gallery'],
    data () {
        return {
            img : [],
            image:{
                id: '',
                name: '',
                gallery_id: '',
                user_id: '',
                active: false,
                deleted_at: '',
                created_at: '',
                updated_at: '',
            }
        }
    },
    created() {
        this.img = this.images.filter(element => element.gallery_id == this.gallery.id);
        this.image.id = this.img[0].id;
        this.image.name = this.img[0].name;
        this.image.gallery_id = this.img[0].gallery_id;
        this.image.user_id = this.img[0].user_id;
        this.image.active = this.img[0].active;
        this.image.deleted_at = this.img[0].deleted_at;
        this.image.created_at = this.img[0].created_at;
        this.image.updated_at = this.img[0].updated_at;
    },
    mounted() {
    }
}
</script>

<style scoped>

</style>
