<template>
    <div class="container-fluid">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert">
            <strong>¡Exito!</strong> Se agrego el producto
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue'

export default {
    name: "ProductCreateComponent",
    components: {
        'editor': Editor
    },
    props: ['categoriesall'],
    data(){
        return{
            alert: false,
            categories: [],
            thumbnailImage: '',
            product: {
                name: '',
                key: '',
                model: '',
                categories: [],
                description: '',
                details: '',
                measuresCms: '',
                measuresInches: '',
                image: '',
            },
        }
    },
    created () {
        console.log(this.categoriesall);
        this.categories = this.categoriesall.filter(element => element.parent_id == null);
        console.log(this.categories);
    },
    methods:{
        add(){
            const params = new FormData();
            params.append('name', this.product.name);
            params.append('key', this.product.key);
            params.append('model', this.product.model);
            params.append('description', this.product.description);
            params.append('details', this.product.details);
            params.append('measuresCms', this.product.measuresCms);
            params.append('measuresInches', this.product.measuresInches);
            params.append('image', this.product.image);
            console.log(params);
            const url = '/cp/productos';
            axios.post(url, params)
                .then((res) => {
                    console.log(res);
                    this.alert= true;
                    this.product.name = '';
                    this.product.key = '';
                    this.product.model = '';
                    this.product.description = '';
                    this.product.details = '';
                    this.product.measuresCms = '';
                    this.product.measuresInches = '';
                    this.product.thumbnailImage = '';
                  })
                  .catch(error => {
                      console.log(error);
                });
        },
        getImage(e){
            let file = e.target.files[0];
            console.log(file);
            this.product.image = file;
            this.uploadImage(file);
        },
        uploadImage(file){
            let reader = new FileReader();
            reader.onload = (e) => {
                this.thumbnailImage = e.target.result;
            }

            reader.readAsDataURL(file);
        }
    },
    computed: {
        image(){
            return this.thumbnailImage;
        }
    }
}
</script>

<style scoped>

</style>
