<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="#" class="-btn-agregar" @click="create" v-if="btnList">
                    <i class="fas fa-user-plus"></i>
                    Agregar
                </a>
                <a href="#" class="-btn-agregar" @click="list" v-if="btnCreate">
                    <i class="fas fa-list-alt"></i>
                    listado
                </a>
                <a href="#" class="-btn-agregar" @click="list" v-if="btnUpdate">
                    <i class="fas fa-list-alt"></i>
                    listado
                </a>
            </div>
        </div>
        <div class="row justify-content-center" v-if="btnList">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4">
                                Productos
                            </div>
                            <div class="col-4">
                                <input type="text" placeholder="Buscar" class="form-control" @keyup="filterName($event)">
                            </div>
                            <div class="col-4">
                                <select name="categories" id="categories" class="form-control" @change="filterCategory($event)">
                                    <option value="0">Todos</option>
                                    <option :value="category.id" v-for="category in categories" :key="category.id">{{ category.name.es }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <paginate-links for="products" :classes="{'ul': 'pagination', 'li': 'page-item', 'a': 'page-link'}"></paginate-links>
                        <paginate ref="paginator" name="products" :list="products" :per="10">
                            <table class="table table-striped table-hover mt-3">
                                <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Modelo</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="product in paginated('products')" :key="product.id">
                                    <td width="200px" he>
                                        <img v-if="product.photo" :src="product.photo" width="200px" class="img-fluid" :alt="product.photo">
                                        <img v-else src="/images/no-image-icon.png" width="200px" class="img-fluid"  alt="">
                                    </td>
                                    <td>
                                        <a href="#" @click="edit(product)">
                                            {{ product.name.es }}
                                        </a>
                                    </td>
                                    <td>{{ product.model }}</td>
                                    <td width="150px">
                                        <a class="text-info" v-if="product.new" @click="newP(product)" style="cursor: pointer;">
                                            <i class="fas fa-star"></i>
                                        </a>
                                        <a class="text-info" v-else @click="newP(product)" style="cursor: pointer;">
                                            <i class="far fa-star"></i>
                                        </a>
                                        <a class="text-success" v-if="product.active" @click="active(product)" style="cursor: pointer;">
                                            <i class="fa fa-power-off -on"></i>
                                        </a>
                                        <a class="text-danger" v-else @click="active(product)" style="cursor: pointer;">
                                            <i class="fa fa-power-off -off"></i>
                                        </a>
                                        <a class="text-danger" @click="destroy(product)" style="cursor: pointer;">
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </paginate>
                        <paginate-links for="products" :classes="{'ul': 'pagination', 'li': 'page-item', 'a': 'page-link'}"></paginate-links>
                    </div>
                </div>
            </div>
        </div>
        <form @submit.prevent="submit()" v-if="btnCreate  || btnUpdate" class="my-3" enctype="multipart/form-data">
            <div class="row">
                <div class="col-4">
                    <label class="label">Imagen Listado</label>
                    <br>
                    <img with="200" height="200" :src="image" v-if="image" class="img-fluid"/>
                    <img with="200" height="200" src="/cpanel/assets/imgs/missing.png" v-else class="img-fluid">
                </div>
                <div class="col-8">
                    <br><br>
                    <div class="alert alert-primary" role="alert">
                        <i class="fas fa-eye"></i> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
                    </div>

                    <div class="upload-btn-wrapper">
                        <button class="btn btn-primary">Selecciona un archivo</button>
                        <input type="file" name="image" @change="getImage"/>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-8">
                    <label>Nombre</label>
                    <input type="text"  name="name" v-model="product.name" class="form-control" required>

                    <div class="row mt-3">
                        <div class="col-6">
                            <label>Clave</label>
                            <input type="text"  name="key" value="" v-model="product.key" class="form-control">
                        </div>
                        <div class="col-6">
                            <label>Modelo</label>
                            <input type="text"  name="model" value="" v-model="product.model" class="form-control">
                        </div>
                    </div>
<!--                    <div class="row mt-3">-->
<!--                        <div class="col-6 col-xxl-3">-->
<!--                            <div class="border rounded p-3">-->
<!--                                <h1>Garantias</h1>-->
<!--                                <div class="form-check">-->
<!--                                    <input class="form-check-input"-->
<!--                                           type="checkbox"-->
<!--                                           v-model="product.full_leather"-->
<!--                                           name="full_leather"-->
<!--                                           @click="leat()"-->
<!--                                           :checked="product.full_leather">-->
<!--                                    <label class="form-check-label">Piel Integral</label>-->
<!--                                </div>-->
<!--                                <div class="form-check">-->
<!--                                    <input class="form-check-input"-->
<!--                                           type="checkbox"-->
<!--                                           name="polyurethane"-->
<!--                                           v-model="product.polyurethane"-->
<!--                                           @click="poly()"-->
<!--                                           :checked="product.polyurethane">-->
<!--                                    <label class="form-check-label">Poliuretano</label>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div class="col-3">
                    <div class="border rounded p-3">
                        <h1>Categorias</h1>
                        <div class="form-check" v-for="(category, index) in categories">
                            <input class="form-check-input"
                                   type="checkbox"
                                   :value="category.id"
                                   @click="push(category.id)"
                                   :checked="category.status">
                            <label class="form-check-label">
                                {{ category.name.es }}
                            </label>
                            <product-sub-category-component
                                :categoriesall="categoriesall"
                                :productcategories="productcategories"
                                v-on:pushsub="push($event)"
                                :category="category">
                            </product-sub-category-component>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <label>Descripcion</label>
                    <editor
                        v-model="product.description"
                        apiKey="xdkgem0ygosq716ckqlt2h0ou6k6ecy4ijm0829y71jn06nl"
                        :init="{
                        height: 500,
                        menubar: true,
                        plugins: [
                            'advlist autolink lists link image charmap print preview anchor',
                            'searchreplace visualblocks code fullscreen',
                            'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                            'undo redo | formatselect | bold italic backcolor | \
                            alignleft aligncenter alignright alignjustify | \
                            bullist numlist outdent indent | removeformat | help'
                        }"/>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-6">
                    <label>Medidas en Cms</label>
                    <input type="text"  name="measuresCms" value="" v-model="product.measuresCms" class="form-control">
                </div>
                <div class="col-6">
                    <label>Medidas en Pulgadas</label>
                    <input type="text"  name="measuresInches" value="" v-model="product.measuresInches" class="form-control">
                </div>
            </div>

            <label class="mt-3">Detalles</label>
            <input type="text"  name="details" value="" v-model="product.details" class="form-control">

            <h4 class="title is-5 mt-3">Galería</h4>
            <div class="row mt-3">
                <div class="col-12 col-sm-6 col-md-3" v-for="(image, index) in images">
                    <img :src="image.name" class="img-fluid" :alt="image.name"><br>
                    <a href="#" class="text-center text-danger" @click="deleteImage(image)">Eliminar</a>
                </div>
            </div>

            <div class="alert alert-primary" role="alert">
                <i class="fas fa-eye"></i> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
            </div>
            <vue-dropzone ref="myVueDropzone"
                          id="dropzone"
                          :options="dropzoneOptions">
            </vue-dropzone>

            <div class="text-right mt-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue'
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.min.css';

export default {
    name: "ProductsComponent",
    props: ['categoriesall', 'productsall', 'imagesall', 'galleriesall', 'categoriesselectall'],
    components: {
        vueDropzone: vue2Dropzone,
        'editor': Editor
    },
    data(){
        return{
            ids: 0,
            paginate: ['products'],
            btnList: true,
            galleries: [],
            gallery: [],
            images: [],
            categoriesselect: [],
            btnCreate: false,
            btnUpdate: false,
            thumbnailImage: '',
            products: [],
            productcategories: [],
            product: {
                id: '',
                name: '',
                key: '',
                model: '',
                full_leather: false,
                polyurethane: false,
                categories: [],
                description: '',
                details: '',
                measuresCms: '',
                measuresInches: '',
                image: '',
            },
            cate: [],
            dropzoneOptions: {},
        }
    },
    created () {
        Dropzone.autoDiscover = false;
        this.categories = this.categoriesall.filter(element => element.parent_id == null);
        this.products = this.productsall;
        this.categoriesselect = this.categoriesselectall
    },
    methods:{
        filterName(event){
            console.log(event.target.value);
            let regex = new RegExp(event.target.value, 'i');
            this.products = this.productsall.filter(item => regex.test(item.name.es));
            console.log(this.products);
        },
        poly(){
            this.product.polyurethane = !this.product.polyurethane;
            console.log(this.product.polyurethane);
        },
        leat(){
            this.product.full_leather = !this.product.full_leather;
            console.log(this.product.full_leather);
        },
        filterCategory(event){
            this.products = [];
            if (event.target.value != 0){
                this.cate = this.categoriesselectall.filter(element => element.category_id == event.target.value);
                for (let i=0; i<this.cate.length; i++ ){
                    let product = this.productsall.filter(element => element.id == this.cate[i].product_id);
                    for (let g=0; g<product.length; g++){
                        console.log(product[g]);
                        this.products.push(product[g]);
                        console.log(this.products);
                    }
                }
                // this.products = this.productsall.filter(element => element.parent_id == null);
            } else {
                this.products = this.productsall;
            }
        },
        push(id){
            this.ids = id;
            let verify = this.productcategories.filter(item => item === id);
            if (verify.length == 0){
                this.productcategories.push(this.ids);
                console.log('no esta');
            } else {
                let index = this.productcategories.findIndex(item => item === id);
                this.productcategories.splice(index, 1);
                console.log('si esta');
            }
        },
        submit(){
          if (this.btnCreate){
              this.add();
          } else if(this.btnUpdate){
              this.update();
          }
        },
        clear(){
            this.product.name = '';
            this.product.key = '';
            this.product.model = '';
            this.product.description = '';
            this.product.details = '';
            this.product.full_leather = false;
            this.product.polyurethane = false;
            this.product.measuresCms = '';
            this.product.measuresInches = '';
            this.product.thumbnailImage = '';
            this.product.image = '';
            this.thumbnailImage = '';
        },
        create(){
            this.btnCreate = true;
            this.btnList = false;
            this.btnUpdate = false;
            this.clear();
            this.dropzoneOptions = {
                url: '/cp/gallery/store',
                dictDefaultMessage: "Arrastra tus Imagenes",
                thumbnailWidth: 300,
                thumbnailHeight: 300,
                params: {
                    gallery: '0',
                    reference: this.product.id,
                    name: this.product.name,
                    description: this.product.description,
                    type: 'products',
                },
                headers: {
                    "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content
                }
            };
        },
        list(){
            location.reload();
            // this.btnCreate = false;
            // this.btnList = true;
            // this.btnUpdate = false;
        },
        edit(product){
            this.product.categories = [];
            this.btnCreate = false;
            this.btnList = false;
            this.btnUpdate = true;
            this.product = product;
            this.product.name = product.name.es;
            this.product.description = product.description.es;
            this.product.details = product.details.es;
            this.categoriesselect = this.categoriesselectall.filter(item => item.product_id === product.id);
            for (let g=0; g<this.categoriesselect.length; g++){
                this.productcategories.push(this.categoriesselect[g].category_id);
            }
            this.thumbnailImage = product.photo;
            this.gallery = this.galleriesall.filter(element => element.reference == product.id);
            let galleryId = 0;
            if (this.gallery.length > 0){
                this.images = this.imagesall.filter(element => element.gallery_id == this.gallery[0].id);
                galleryId = this.gallery[0].id;
            }
            for (let i=0; i<this.categories.length; i++){
                for (let j=0; j<this.categoriesselect.length; j++){
                    if(this.categories[i].id == this.categoriesselect[j].category_id) {
                        console.log(this.categories[i].id);
                        this.categories[i].status = true;
                    }
                    // } else {
                    //     console.log(this.categories[i].id + 'sin entrar');
                    //     this.categories[i].status = false;
                    // }
                }
            }
            this.dropzoneOptions = {
                url: '/cp/gallery/store',
                dictDefaultMessage: "Arrastra tus Imagenes",
                thumbnailWidth: 300,
                thumbnailHeight: 300,
                params: {
                    gallery: galleryId,
                    reference: this.product.id,
                    name: this.product.name,
                    description: this.product.description,
                    type: 'products',
                },
                headers: {
                    "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content
                }
            };
        },
        destroy(product){
            const url = '/cp/productos/' + product.id;
            axios.delete(url)
                .then((res) => {
                    const index = this.products.findIndex(item => item.id === product.id);
                    this.products.splice(index, 1);
                    this.clear();
                    this.list();
                })
                .catch(error => {
                    console.log(error);
                });
        },
        deleteImage(image){
            const url = '/cp/images/' + image.id;
            axios.delete(url)
                .then((res) => {
                    const index = this.images.findIndex(item => item.id === image.id);
                    this.images.splice(index, 1);
                    console.log(res);
                    console.log(index);
                    console.log(this.images);
                })
                .catch(error => {
                    console.log(error);
                });
        },
        active(product){
            const url = '/cp/productos/active';
            axios.post(url, product)
                .then((res) => {
                    const index = this.products.findIndex(item => item.id === product.id);
                    this.products[index].active = res.data.active;
                    this.clear();
                })
                .catch(error => {
                    console.log(error);
                    // @ts-ignore
                    console.log(error.message);
                });
        },
        newP(product){
            const url = '/cp/productos/new';
            axios.post(url, product)
                .then((res) => {
                    const index = this.products.findIndex(item => item.id === product.id);
                    this.products[index].new = res.data.new;
                    this.clear();
                })
                .catch(error => {
                    console.log(error);
                    // @ts-ignore
                    console.log(error.message);
                });
        },
        add(){
            if(this.product.full_leather == 1){
                this.product.full_leather = true;
            } else if(this.product.full_leather == 0){
                this.product.full_leather = false;
            }
            if(this.product.polyurethane == 1){
                this.product.polyurethane = true;
            } else if(this.product.polyurethane == 0){
                this.product.polyurethane = false;
            }
            const params = new FormData();
            params.append('name', this.product.name);
            params.append('key', this.product.key);
            params.append('model', this.product.model);
            params.append('description', this.product.description);
            params.append('details', this.product.details);
            params.append('full_leather', this.product.full_leather);
            params.append('polyurethane', this.product.polyurethane);
            params.append('measuresCms', this.product.measuresCms);
            params.append('measuresInches', this.product.measuresInches);
            params.append('image', this.product.image);
            params.append('categories', this.productcategories);
            const url = '/cp/productos';
            if(this.productcategories.length > 0) {
                axios.post(url, params)
                    .then((res) => {
                        console.log(res);
                        this.products.push(res.data);
                        this.clear();
                        this.list();
                    })
                    .catch(error => {
                        console.log(error);
                    });
            } else {
                alert('Debe selecionar minimo una categoria');
            }
        },
        update(){
            if(this.product.full_leather == 1){
                this.product.full_leather = true;
            } else if(this.product.full_leather == 0){
                this.product.full_leather = false;
            }
            if(this.product.polyurethane == 1){
                this.product.polyurethane = true;
            } else if(this.product.polyurethane == 0){
                this.product.polyurethane = false;
            }
            const params = new FormData();
            params.append("_method", "put");
            params.append('name', this.product.name);
            params.append('key', this.product.key);
            params.append('model', this.product.model);
            params.append('description', this.product.description);
            params.append('details', this.product.details);
            params.append('full_leather', this.product.full_leather);
            params.append('polyurethane', this.product.polyurethane);
            params.append('measuresCms', this.product.measuresCms);
            params.append('measuresInches', this.product.measuresInches);
            params.append('image', this.product.image);
            params.append('categories', [this.productcategories]);
            console.log(this.productcategories);
            console.log(this.product);
            const url = '/cp/productos/'+ this.product.id;
            if(this.productcategories.length > 0){
                axios.post(url, params)
                    .then((res) => {
                        console.log(res.data);
                        const index = this.products.findIndex(item => item.id === this.product.id);
                        this.products[index] = res.data;
                        this.clear();
                        this.list();
                    })
                    .catch(error => {
                        console.log(error);
                    });
            } else {
                alert('Debe selecionar minimo una categoria');
            }
        },
        getImage(e){
            let file = e.target.files[0];
            console.log(file);
            this.product.image = file;
            this.uploadImage(file);
        },
        uploadImage(file){
            let reader = new FileReader();
            reader.onload = (e) => {
                this.thumbnailImage = e.target.result;
            }

            reader.readAsDataURL(file);
        },
    },
    computed: {
        image(){
            return this.thumbnailImage;
        }
    }
}
</script>

<style scoped>
/*.paginate-links{*/
/*    width: 100%;*/
/*    cursor: pointer;*/
/*    list-style: none;*/
/*    text-align: center;*/
/*}*/
/*.paginate-links li {*/
/*    display: inline;*/
/*    background-color:#E43A48;*/
/*    color:white;*/
/*    padding:0.5rem;*/
/*    margin-left:0.3rem;*/
/*    margin-right: 0.3rem;*/
/*    cursor:pointer;*/
/*    border-radius: 3px;*/
/*}*/
.paginate-result{
    text-align:center;
    margin-bottom: 1rem;
}
#dropzone {
    background-color: #a0a09c;
    font-family: 'Arial', sans-serif;
    border: 2px dashed #3560e2;
    border-radius: 15px;
    letter-spacing: 0.2px;
    color: #fff;
    transition: background-color .2s linear;
    padding: 40px;
    margin-bottom: 50px;
}
</style>
