<template>
    <div>
        <div class="form-check" v-for="(category, index) in categories">
            <input class="form-check-input"
                   type="checkbox"
                   name="categories"
                   :id="index"
                   v-on:click="$emit('pushsub', category.id)"
                   :value="category.id"
                   :checked="category.status">
            <label class="form-check-label" :for="index">
                {{ category.name.es }}
            </label>
        </div>
    </div>
</template>

<script>
export default {
    name: "ProductSubCategoryComponent",
    props: ['category', 'categoriesall', 'productcategories'],
    data() {
        return{
            categories: [],
        }
    },
    created(){
        this.categories = this.categoriesall.filter(element => element.parent_id == this.category.id);
        for(let a=0; a<this.categories.length; a++ ){
            for(let s=0; s<this.productcategories.length; s++){
                if(this.categories[a].id == this.productcategories[s]){
                    this.categories[a].status = true;
                }
            }
        }
    }
}
</script>


