<template>
    <div class="card-body">
        <form @submit.prevent="submit()" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="category" class="ml-3">Categoria</label>
                <div class="col-md-12">
                    <select id="category" class="form-control"
                            name="category"
                            v-model="release.category_id" required>
                        <option value="">Seleciona una Categoria</option>
                        <option :value="category.id" v-for="category in categories">{{ category.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="author" class="ml-3" v-if="action === 'edit'">Autor</label>
                    <input id="author" placeholder="Autor"  type="text"
                           class="form-control"
                           v-model="release.author"
                           name="author"  autocomplete="author">
                </div>
                <div class="col-md-6">
                    <label for="date" class="ml-3" v-if="action === 'edit'">Fecha</label>
                    <input id="date" placeholder="Fecha"
                           onkeydown="return false"
                           type="date"
                           required
                           class="form-control"
                           v-model="release.date"
                           name="date"
                           autocomplete="date">
                </div>
            </div>
            <div class="form-group row">
                <label for="title" class="ml-3" v-if="action === 'edit'">Titulo</label>
                <div class="col-md-12">
                    <input id="title" placeholder="Titulo"  type="text"
                           class="form-control"
                           v-model="release.title"
                           name="title" value=""  autocomplete="title"
                           autofocus required>
                </div>
            </div>
            <div class="form-group row">
                <label for="subtitle" class="ml-3" v-if="action === 'edit'">Sub Titulo</label>
                <div class="col-md-12">
                    <input id="subtitle" placeholder="Subtitulo"  type="text"
                           class="form-control"
                           v-model="release.subtitle"
                           name="subtitle" value=""  autocomplete="subtitle">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label class="ml-3">Introducción</label>
                    <editor
                        v-model="release.intro"
                        apiKey="xdkgem0ygosq716ckqlt2h0ou6k6ecy4ijm0829y71jn06nl"
                        :init="{
                        height: 200,
                        menubar: true,
                        plugins: [
                            'advlist autolink lists link image charmap print preview anchor',
                            'searchreplace visualblocks code fullscreen',
                            'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                            'undo redo | formatselect | bold italic backcolor | \
                            alignleft aligncenter alignright alignjustify | \
                            bullist numlist outdent indent | removeformat | help'
                        }"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label class="ml-3">Descripcion</label>
                    <editor
                        v-model="release.description"
                        apiKey="xdkgem0ygosq716ckqlt2h0ou6k6ecy4ijm0829y71jn06nl"
                        :init="{
                        height: 500,
                        menubar: true,
                        plugins: [
                            'advlist autolink lists link image charmap print preview anchor',
                            'searchreplace visualblocks code fullscreen',
                            'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                            'undo redo | formatselect | bold italic backcolor | \
                            alignleft aligncenter alignright alignjustify | \
                            bullist numlist outdent indent | removeformat | help'
                        }"/>
                </div>
            </div>

            <div class="form-group row">
                <label for="pdf" class="ml-3">Archivo PDF</label>
                <div class="col-md-12">
                    <input id="pdf" placeholder="PDF"
                           accept="file/pdf"
                           type="file"
                           class="form-control"
                           name="pdf" value="" @change="getpdf">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label class="label">Imagen Listado</label>
                    <br>
                    <img with="200" height="200" :src="image" v-if="image" class="img-fluid"/>
                    <img with="200" height="200" src="/cpanel/assets/imgs/missing.png" v-else class="img-fluid">
                </div>
                <div class="col-8">
                    <br><br>
                    <div class="alert alert-primary" role="alert">
                        <i class="fas fa-eye"></i> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
                    </div>

                    <div class="upload-btn-wrapper">
                        <button class="btn btn-primary">Selecciona un archivo</button>
                        <input type="file" name="image" @change="getImage"/>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label class="label">Imagen Comunicado</label>
                    <br>
                    <img with="200" height="200" :src="imageR" v-if="imageR" class="img-fluid"/>
                    <img with="200" height="200" src="/cpanel/assets/imgs/missing.png" v-else class="img-fluid">
                </div>
                <div class="col-8">
                    <br><br>
                    <div class="alert alert-primary" role="alert">
                        <i class="fas fa-eye"></i> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
                    </div>

                    <div class="upload-btn-wrapper">
                        <button class="btn btn-primary">Selecciona un archivo</button>
                        <input type="file" name="imageR" @change="getImageR"/>
                    </div>
                </div>
            </div>
            <hr>
            <div v-if="action === 'edit'">
                <h4 class="title is-5 mt-3">Galería</h4>
                <div class="alert alert-primary" role="alert">
                    <i class="fas fa-eye"></i> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-sm-6 col-md-4" v-for="(image, index) in images">
                        <img :src="image.name" class="img-fluid" :alt="image.name">
                        <a href="#" class="text-center text-danger" @click="deleteImage(image)">Eliminar</a>
                    </div>
                </div>
                <vue-dropzone ref="myVueDropzone"
                              id="dropzone"
                              :options="dropzoneOptions">
                </vue-dropzone>
            </div>

            <div class="form-group row">
                <div class="col-md-3 offset-md-9">
                    <button class="btn btn-block btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.min.css';
import Editor from "@tinymce/tinymce-vue";

export default {
    name: "ReleaseCREDComponent",
    props: ['action', 'categories', 'releaseo', 'imagesall', 'galleriesall'],
    components: {
        vueDropzone: vue2Dropzone,
        'editor': Editor
    },
    data(){
        return {
            thumbnailImageR: '',
            thumbnailImage: '',
            galleries: [],
            gallery: [],
            images: [],
            release:{
                id: 0,
                slug: '',
                title: '',
                subtitle: '',
                intro: '',
                description: '',
                author: '',
                category_id: 0,
                photo_list: '',
                photo_release: '',
                pdf: '',
                date: '',
            },
            dropzoneOptions: {},
        }
    },
    created () {
        Dropzone.autoDiscover = false;
        this.release = this.releaseo;
        console.log(this.release);
        console.log(this.release.id);
        this.thumbnailImage = this.release.photo_list;
        this.thumbnailImageR = this.release.photo_release;
        console.log(this.galleriesall);
    if (this.action === 'edit'){
            this.gallery = this.galleriesall.filter(element => element.reference == this.release.id);
            let galleryId = 0;
            if (this.gallery.length > 0){
                this.images = this.imagesall.filter(element => element.gallery_id == this.gallery[0].id);
                galleryId = this.gallery[0].id;
            }
            this.dropzoneOptions = {
                url: '/cp/gallery/store',
                dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>Arrastra tus Imagenes",
                thumbnailWidth: 300,
                thumbnailHeight: 300,
                params: {
                    gallery: galleryId,
                    reference: this.release.id,
                    name: this.release.name,
                    description: this.release.description,
                    type: 'releases',
                },
                headers: {
                    "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content
                }
            };
        }
    },
    methods:{
        submit(){
            let params = new FormData();
            this.release.description = this.release.description.replace('<p>', '');
            this.release.description = this.release.description.replace('</p>', '');
            this.release.intro = this.release.intro.replace('<p>', '');
            this.release.intro = this.release.intro.replace('</p>', '');
            params.append('title', this.release.title);
            params.append('subtitle', this.release.subtitle);
            params.append('description', this.release.description);
            params.append('intro', this.release.intro);
            params.append('author', this.release.author);
            params.append('category_id', this.release.category_id);
            params.append('date', this.release.date);
            if(this.release.photo_list){
                params.append('photo_list', this.release.photo_list);
            }
            if(this.release.photo_release){
                params.append('photo_release', this.release.photo_release);
            }
            if(this.release.pdf){
                params.append('pdf', this.release.pdf);
            }

            if(this.action === 'create'){
                const url = '/cp/releases';
                axios.post(url, params)
                    .then((res) => {
                        console.log(res);
                        location.replace("/cp/releases");
                    })
                    .catch(error => {
                        console.log(error);
                    });
            } else {
                params.append("_method", "put");
                const url = '/cp/releases/' + this.release.id;
                axios.post(url, params)
                    .then((res) => {
                        console.log(res);
                        location.replace("/cp/releases");
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        },
        getImage(e){
            let file = e.target.files[0];
            console.log(file);
            this.release.photo_list = file;
            this.uploadImage(file);
        },
        uploadImage(file){
            let reader = new FileReader();
            reader.onload = (e) => {
                this.thumbnailImage = e.target.result;
            }

            reader.readAsDataURL(file);
        },
        getImageR(e){
            let file = e.target.files[0];
            console.log(file);
            this.release.photo_release = file;
            this.uploadImageR(file);
        },
        uploadImageR(file){
            let reader = new FileReader();
            reader.onload = (e) => {
                this.thumbnailImageR = e.target.result;
            }

            reader.readAsDataURL(file);
        },
        getpdf(e){
            let file = e.target.files[0];
            console.log(file);
            this.release.pdf = file;
        },
        deleteImage(image){
            const url = '/cp/images/' + image.id;
            axios.delete(url)
                .then((res) => {
                    const index = this.images.findIndex(item => item.id === image.id);
                    this.images.splice(index, 1);
                })
                .catch(error => {
                    console.log(error);
                });
        },
    },
    computed: {
        imageR(){
            return this.thumbnailImageR;
        },
        image(){
            return this.thumbnailImage;
        }
    }
}
</script>

<style scoped>
hr{
    border: 3px solid #384859;
}
#dropzone {
    background-color: #a0a09c;
    font-family: 'Arial', sans-serif;
    border: 2px dashed #3560e2;
    border-radius: 15px;
    letter-spacing: 0.2px;
    color: #fff;
    transition: background-color .2s linear;
    padding: 40px;
    min-height: 180px;
    margin: 20px 0;
}
</style>
