<template>
    <div>
        <div class="col-12">
            <div class="row">
                <form @submit.prevent="add(category.id)" v-if="addVaS && category.id == item" class="form-inline ml-5">
                    <input type="text" class="form-control mb-2"
                           placeholder="Nombre de la categoria" v-model="categoryNameS">
                    <button class="btn btn-sm" type="submit">
                        <i class="fa fa-save text-success"></i>
                    </button>
                    <button class="btn btn-sm" type="button" @click="cancelAdd(category.id)">
                        <i class="fa fa-ban text-danger"></i>
                    </button>
                </form>
            </div>
        </div>
        <div v-for="(categori, index) in categoriesS" :key="categori.id" class="row ml-5">
            <div class="col-12">
                <div class="row">
                    <form @submit.prevent="updated(categori, category.id)" v-if="editVaS && categori.id == itemS" class="form-inline">
                        <input type="text" v-model="categoryNameS" id="nameCategory">
                        <button type="submit" class="btn btn-sm">
                            <i class="fa fa-save text-success"></i>
                        </button>
                        <button class="btn btn-sm" type="button" @click="cancelAdd(categori.id)">
                            <i class="fa fa-ban text-danger"></i>
                        </button>
                    </form>
                    <p v-else>{{ categori.name.es }}</p>
                    <a class="ml-3" href="#" @click="edit(categori)">
                        <i class="fa fa-edit text-warning"></i>
                    </a>
                    <a href="#" @click="destroy(categori, index)">
                        <i class="fa fa-trash text-danger"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex';

    export default {
        name: 'SubCategoriesComponent',
        props: ['category', 'item'],
        data () {
            return {
                categoriesS: [],
                editVaS: false,
                itemS: 0,
                categoryNameS: '',
                categoryId: 0,
            }
        },
        created () {
            const url = '/cp/producto-categorias/' + this.category.id;
            axios.get(url)
                .then(res => {
                    this.categoriesS = res.data;
                })
                .catch(error => {
                    console.log(error);
                });
        },
        computed: {
            ...mapState(['addVaS']),
        },
        methods: {
            ...mapMutations(['eventadd']),
            cancelAdd(index){
                this.eventadd(false);
                this.editVaS = false;
                this.categoryNameS = '';
                this.item = index;
            },
            add(parent){
                if(this.categoryNameS.trim() === '' ){
                    alert('El nombre de la categoria no puede estar vacio');
                    return;
                }
                const params = {
                    name: this.categoryNameS,
                    parent_id: parent,
                };
                const url = '/cp/producto-categorias'
                axios.post(url, params)
                    .then((res) =>{
                        console.log(res.data);
                        this.categoriesS.push(res.data);
                        this.categoryNameS = '';
                        this.addVaS = false;
                    })
                    .catch(error => {
                        console.log(error);
                        this.categoryNameS = '';
                        this.addVaS = false;
                    });
            },
            edit(category){
                this.editVaS = true;
                const index = this.categoriesS.findIndex(item => item.id === category.id);
                this.categoryNameS = this.categoriesS[index].name.es;
                // console.log(this.categoriesS[index]);
                // console.log(this.categoriesS[index].name);
                this.categoryId = category;
                this.itemS = category.id;
                // this.categories[index] = res.data;

            },
            updated(category, parent_id) {
                const params = {
                    name: this.categoryNameS,
                    parent_id
                };
                const url = '/cp/producto-categorias/' + category.id;
                axios.put(url, params)
                    .then(res => {
                        console.log(res.data);
                        const index = this.categoriesS.findIndex(item => item.id === category.id);
                        this.categoriesS[index] = res.data;
                        console.log(this.categoriesS[index]);
                        this.categoryNameS = '';
                        this.editVaS = false;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            destroy(category, index) {
                const url = '/cp/producto-categorias/' + category.id;
                axios.delete(url)
                    .then(()=>{
                        this.categoriesS.splice(index, 1);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        }
    }
</script>
