.-navbar-oidesa{
    background-color: #303539;
    opacity: 0.9;
}

.navbar-nav{
    margin-right: 20px;
}

.navbar-toggler{
    background-color: white!important
}

.-brand{
    width: 100px
}

.nav-item a{
    color: white!important
}

.nav-item a:hover{
    color: $azul!important
}


.dropdown-menu{

    background-color: #303539;
    border-top: 2px solid $azul
}

.dropdown-menu a {
    color: $azul;
    color: white!important
}

.dropdown-menu a:hover{
    background-color: #white;
    color: $azul;
}


.-xs{
    background-color: navy;
    @include md{
        background-color: #1d643b;
    }
}














