body{
    color: $azul;
    background-color: $gris;
}

.-exo{
    font-family:  'Exo', sans-serif;
    font-weight: bold;
}
.-err{
    border: 1px solid red
}

.bg-light{
    border: 1px solid red
}

.-blanco{
    color: white;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.btn-primary{
    background-color: #658ca5 !important;
    border-color: transparent !important;
}

.btn-primary:hover{
    border-color: transparent !important;
}

.btn{
    border-radius: 0px !important;
}

/*
    |--------------------------------------------------------------------------
    | elementos del encabezado
    |--------------------------------------------------------------------------
    |
    | Estilos usados en el área de encabezado y titulo de las paginas
    |
        */

.-titulo-area{
    background-image: url("/assets/imgs/elegirnos.jpg");
    padding: 20px 30px 20px 0

}

.breadcrumb{
    border-radius: 0;
}


/*
    |--------------------------------------------------------------------------
    | Productos nuevos
    |--------------------------------------------------------------------------
    |
    | Estilos usados en el área de productos nuevos
    |
        */

.-productos-nuevos{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;


}

.-productos-nuevos .-titulo{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 6px;
    color: $azul;
}

.-producto .card{
    background-color: black;
    color: $azul
}

.-producto .card .card-title{
     border-bottom: 1px solid white;
 }

.-producto .card .card-text{
    color: white;
}

.-producto img  {
    width: auto;
    height: 100%;
    max-height: 100%;
}

/*
    |--------------------------------------------------------------------------
    | Por que elegirnos?
    |--------------------------------------------------------------------------
    |
    | Estilos usados en el área de elegirnos
    |
        */

.-elegirnos{
   background-color:$azul;
}

.-elegirnos .row{
    background-image: url("/assets/imgs/elegirnos.jpg");
    background-size: 100% 100%;
    color: white
}

.-elegirnos .-titulo{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 0 30px 0 30px;
    padding-top: 6px;
    color: $azul;
}

.-elegirnos .card{
    background-color: transparent;
}
.-elegirnos .card-body{
    padding-top:0;
}
.-elegirnos .card-title{
    color: $azul;
}

.-elegirnos .-ico-titulo{
    color: $azul;
    margin: 0 auto;

}

.-elegirnos .card-text{
    border-left: 1px solid $azul;
    border-right: 1px solid $azul;
    padding:0 10px;
}


/*
    |--------------------------------------------------------------------------
    | Lineas
    |--------------------------------------------------------------------------
    |
    | Estilos usados en el área de lineas de productos
    |
        */

.-lineas{
    background-color: black;
    color: white
}

.-lineas .col-md-4{
    padding: 0;
}

.flip-card {
    background-color: black!important;
    width: 100%;
    height: 300px;
    perspective: 1000px;

    overflow: hidden;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;


}

.flip-card-inner img{
    min-width: 100%;
    min-height: 100%;

    left: 50%;
    top: 50%;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mimg{
    margin-top: 6px;
}

.flip-card-back {
    background-color: #2d3a47;
    color: white;
    transform: rotateY(180deg);
    height: 100%;
}

.-lineas .-titulo{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 50px 30px 0 30px;
    padding-top: 6px;
    color: $azul;
}

.flip-card-back .-cont{
    border: 1px solid $azul;
    color: $azul;
    height: 90%;
    padding: 0 30px;


    >h2{
        padding-top: 1.0rem;
        padding-bottom: 1.0rem;
        margin-bottom: 1.0rem;
        border-bottom: 1px solid white;
    }
}


/*
    |--------------------------------------------------------------------------
    | Footer
    |--------------------------------------------------------------------------
    |
    | Estilos usados en el área de footer
    |
        */
footer{
    background-color: $gris;

}

footer .-tel, a {
    color: $azul;
}


.-copy{
    background-color: #1d2124;
}

.-title{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 50px 30px 0 30px;
    padding-top: 6px;
    color: $azul;
}

.img-card{
    width: 100%;
}

.card-product{
    min-height: 100px;
    max-height: 100px;
}

.-image{
    width: 100% !important;
    height: 200px !important;
    object-fit: cover !important;
}
.-image img{
    width: 100% !important;
    height: 150px !important;
    object-fit: cover !important;
}

.-title-product{
    height: 70px !important;
    object-fit: cover !important;
}
