/*
skins available:
	- opportune
	- majestic
	- generous
*/

/* the container */
.ken_img {
	position: relative !important; 
	/*left: 0 !important; 
	top: 0 !important;*/
	display: block;
	max-width: none !important;
	min-width: none !important;
	max-height: none !important;
	min-height: none !important;
	/*width: auto !important;
	height: auto !important;*/
	margin:0 !important;
	border:none !important;
	padding:0 !important;
}
.setAsBg {
	position:fixed;
	z-index:0;
	margin:0;
	padding:0;
	left:0;
	top:0;
	overflow: hidden;
}
.bannerscollection_zoominout {
	position:relative;
	line-height:20px;
}
.bannerscollection_zoominout img {
	position:relative;
	display: block;
	max-width:inherit;
	max-height:inherit;
	-webkit-backface-visibility: hidden;
	*max-width:200%;
	*max-height:200%;
	/*width:inherit;
	height:inherit;	*/
}
.bannerscollection_zoominout_list {
	margin:0;
	padding:0;
	list-style:none;
	display:none;
}

.bannerscollection_zoominout .contentHolderVisibleWrapper {
	position:absolute;
	overflow:hidden;
	margin-top:0px;
	*margin-top:-20px;
}
.bannerscollection_zoominout .contentHolder {
	position:absolute;
}
.bannerscollection_zoominout .contentHolderUnit {
	/*position:relative;
	float:left;*/
	display:block;
	overflow:hidden;
}


.mycanvas {
	/*border:1px solid #ff0000;*/
	position:absolute;
	top:8px;
	right:10px;
	z-index:16;
}
.myloader {
	background:url(skins/loader.gif);
	width:37px;
	height:37px;
	position:absolute;
	left:49%;
	top:49%;
	z-index:5;
}



/***opportune SKIN***/
.bannerscollection_zoominout.opportune .contentHolderVisibleWrapper {
	position:absolute;
	overflow:hidden;
	margin-top:0px;
}

.bannerscollection_zoominout.opportune .bannerControls {
	position:absolute;
	left:0;
	top:0;
	z-index:20;
	width:100%;
}

.bannerscollection_zoominout.opportune .leftNav {
	position:absolute;
	left:0px;
	width:63px;
	height:72px;
	background:url(skins/opportune/leftNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.bannerscollection_zoominout.opportune .leftNav:hover {
	background:url(skins/opportune/leftNavON.png) 0 0 no-repeat;
}
.bannerscollection_zoominout.opportune .rightNav {
	position:absolute;
	right:0px;
	width:63px;
	height:72px;
	background:url(skins/opportune/rightNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.bannerscollection_zoominout.opportune .rightNav:hover {
	background:url(skins/opportune/rightNavON.png) 0 0 no-repeat;
}
.bannerscollection_zoominout.opportune .bottomNav {
	position:absolute;
	width:0px;
	height:24px;
	bottom:-56px;
	z-index:3;
	padding-left:9px;
}
.bannerscollection_zoominout.opportune .bottomNavButtonOFF {
	float:left;
	display:block;
	width:12px;
	height:12px;
	background:url(skins/opportune/bottomNavOFF.png) 0 0 no-repeat;
	padding-left:6px;
	cursor: pointer;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;		
}

.bannerscollection_zoominout.opportune .bottomNavButtonON {
	float:left;
	display:block;
	width:12px;
	height:12px;
	padding-left:6px;
	background:url(skins/opportune/bottomNavON.png) 0 0 no-repeat;
	cursor: pointer;
}



.bannerscollection_zoominout.opportune .bottomOverThumb {
	position:absolute;
	width:88px;
	height:95px;
	background:url(skins/opportune/bottomOverThumbBg.png) 0px 0px no-repeat;
	bottom:25px;
	margin-left:-44px;
}
.bannerscollection_zoominout.opportune .innerBottomOverThumb {
	position:relative;
	width:80px;
	height:80px;
	margin:4px 0 0 4px;
	overflow:hidden;
}
.bannerscollection_zoominout.opportune .bottomOverThumb img {

}
.bannerscollection_zoominout.opportune .playOver {
	position:absolute;
	width:73px;
	height:73px;
	background:url(skins/opportune/play_overOFF.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}

.bannerscollection_zoominout.opportune .playOver:hover {
	background:url(skins/opportune/play_overON.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}
.bannerscollection_zoominout.opportune .play_pause {
	position:absolute;
	width:5px;
	height:10px;
	background:url(skins/opportune/pause_off.png) no-repeat;
	z-index:15;
}

.bannerscollection_zoominout.opportune .xplay {
	background:url(skins/opportune/play_off.png) no-repeat;
}












/***majestic SKIN***/
.bannerscollection_zoominout.majestic .bannerControls {
	position:absolute;
	left:0;
	top:0;
	z-index:20;
	width:100%;
}

.bannerscollection_zoominout.majestic .leftNav {
	position:absolute;
	left:0px;
	width:70px;
	height:70px;
	background:url(skins/majestic/leftNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.bannerscollection_zoominout.majestic .leftNav:hover {
	background:url(skins/majestic/leftNavON.png) 0 0 no-repeat;
}
.bannerscollection_zoominout.majestic .rightNav {
	position:absolute;
	right:0px;
	width:70px;
	height:70px;
	background:url(skins/majestic/rightNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.bannerscollection_zoominout.majestic .rightNav:hover {
	background:url(skins/majestic/rightNavON.png) 0 0 no-repeat;
}

.bannerscollection_zoominout.majestic .playOver {
	position:absolute;
	width:73px;
	height:73px;
	background:url(skins/majestic/play_overOFF.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}
.bannerscollection_zoominout.majestic .playOver:hover {
	background:url(skins/majestic/play_overON.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}

/* thumbs */
.bannerscollection_zoominout.majestic .thumbsHolderWrapper {
	position:absolute;
	height:135px;
	width:100%;
	overflow:hidden;
	padding:0;
	z-index:2;
}
.bannerscollection_zoominout.majestic .thumbsHolderVisibleWrapper {
	position:absolute;
	width:100%;
	height:135px;
	overflow:hidden;
}
.bannerscollection_zoominout.majestic .thumbsHolder {
	position:absolute;	
}
.bannerscollection_zoominout.majestic .thumbsHolder_ThumbOFF {
	float:left;
	display:block;
	width:107px;
	height:60px;
	cursor: pointer;
}


.bannerscollection_zoominout.majestic .thumbsHolder_ThumbOFF img {
	position:relative;
}

.bannerscollection_zoominout.majestic .thumbsHolder_ThumbON {
	background:url(skins/majestic/thumbActiveArrow.png) center 0px no-repeat;
}

.bannerscollection_zoominout.majestic .thumbsHolder_ThumbON img {
	position:relative;
}

.bannerscollection_zoominout.majestic .carouselLeftNav {
	position:absolute;
	width:16px;
	height:135px;
	background:url(skins/majestic/carouselLeftNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}

.bannerscollection_zoominout.majestic .carouselLeftNav:hover {
	background:url(skins/majestic/carouselLeftNavON.png) 0 0 no-repeat;
}

.bannerscollection_zoominout.majestic .carouselLeftNavDisabled {
	background:url(skins/majestic/carouselLeftNavDisable.png) 0 0 no-repeat;
	cursor:default;
}
.bannerscollection_zoominout.majestic .carouselLeftNavDisabled:hover {
	background:url(skins/majestic/carouselLeftNavDisable.png) 0 0 no-repeat;
}

.bannerscollection_zoominout.majestic .carouselRightNav {
	position:absolute;
	width:16px;
	height:135px;
	background:url(skins/majestic/carouselRightNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}

.bannerscollection_zoominout.majestic .carouselRightNav:hover {
	background:url(skins/majestic/carouselRightNavON.png) 0 0 no-repeat;
}

.bannerscollection_zoominout.majestic .carouselRightNavDisabled {
	background:url(skins/majestic/carouselRightNavDisable.png) 0 0 no-repeat;
	cursor:default;
}
.bannerscollection_zoominout.majestic .carouselRightNavDisabled:hover {
	background:url(skins/majestic/carouselRightNavDisable.png) 0 0 no-repeat;
}
.bannerscollection_zoominout.majestic .play_pause {
	position:absolute;
	width:5px;
	height:10px;
	background:url(skins/majestic/pause_off.png) no-repeat;
	z-index:15;
}

.bannerscollection_zoominout.majestic .xplay {
	background:url(skins/majestic/play_off.png) no-repeat;
}




/***generous SKIN***/
.bannerscollection_zoominout.generous .bannerControls {
	position:absolute;
	left:0;
	top:0;
	z-index:20;
	width:100%;
}

.bannerscollection_zoominout.generous .leftNav {
	position:absolute;
	left:0px;
	margin-top:-16px;
	width:60px;
	height:110px;
	background:url(skins/generous/leftNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.bannerscollection_zoominout.generous .leftNav:hover {
	background:url(skins/generous/leftNavON.png) 0 0 no-repeat;
}
.bannerscollection_zoominout.generous .rightNav {
	position:absolute;
	right:0px;
	margin-top:-16px;
	width:60px;
	height:110px;
	background:url(skins/generous/rightNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.bannerscollection_zoominout.generous .rightNav:hover {
	background:url(skins/generous/rightNavON.png) 0 0 no-repeat;
}

.bannerscollection_zoominout.generous .playOver {
	position:absolute;
	width:73px;
	height:73px;
	background:url(skins/generous/play_overOFF.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}

.bannerscollection_zoominout.generous .playOver:hover {
	background:url(skins/generous/play_overON.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}



/* thumbs */
.bannerscollection_zoominout.generous .thumbsHolderWrapper {
	position:absolute;
	background:url(skins/generous/thumbsBg.png) repeat-x;
	height:110px;
	width:100%;
	z-index:2;
	overflow:hidden;
}
.bannerscollection_zoominout.generous .thumbsHolderVisibleWrapper {
	position:absolute;
	width:100%;
	height:110px;
	overflow:hidden;
}
.bannerscollection_zoominout.generous .thumbsHolder {
	position:absolute;
}
.bannerscollection_zoominout.generous .thumbsHolder_ThumbOFF {
	float:left;
	display:block;
	width:110px;
	height:65px;
	cursor: pointer;
}

.bannerscollection_zoominout.generous .thumbsHolder_ThumbOFF a img, .thumbsHolder_ThumbOFF a  { border: none; overflow: hidden; float: left;  }
.bannerscollection_zoominout.generous .thumbsHolder_ThumbOFF a:hover { border: #F00 2px solid; }
.bannerscollection_zoominout.generous .thumbsHolder_ThumbOFF a:hover img  { margin: -2px; }

.bannerscollection_zoominout.generous .thumbsHolder_ThumbOFF img {
	position:relative;
}

.bannerscollection_zoominout.generous .thumbsHolder_ThumbON {
	background:url(skins/generous/thumbActiveArrow.png) center 0px no-repeat;	
}

.bannerscollection_zoominout.generous .thumbsHolder_ThumbON a img, .thumbsHolder_ThumbON a  { border: none; overflow: hidden; float: left; }
.bannerscollection_zoominout.generous .thumbsHolder_ThumbON a:hover { border: #F00 3px solid; }
.bannerscollection_zoominout.generous .thumbsHolder_ThumbON a:hover img  { margin: -3px; }

.bannerscollection_zoominout.generous .carouselLeftNav {
	position:absolute;
	width:44px;
	height:110px;
	background:url(skins/generous/carouselLeftNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}

.bannerscollection_zoominout.generous .carouselLeftNav:hover {
	background:url(skins/generous/carouselLeftNavON.png) 0 0 no-repeat;
}

.bannerscollection_zoominout.generous .carouselLeftNavDisabled {
	background:url(skins/generous/carouselLeftNavDisable.png) 0 0 no-repeat;
	cursor:default;
}
.bannerscollection_zoominout.generous .carouselLeftNavDisabled:hover {
	background:url(skins/generous/carouselLeftNavDisable.png) 0 0 no-repeat;
}

.bannerscollection_zoominout.generous .carouselRightNav {
	position:absolute;
	width:44px;
	height:110px;
	background:url(skins/generous/carouselRightNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}

.bannerscollection_zoominout.generous .carouselRightNav:hover {
	background:url(skins/generous/carouselRightNavON.png) 0 0 no-repeat;
}

.bannerscollection_zoominout.generous .carouselRightNavDisabled {
	background:url(skins/generous/carouselRightNavDisable.png) 0 0 no-repeat;
	cursor:default;
}
.bannerscollection_zoominout.generous .carouselRightNavDisabled:hover {
	background:url(skins/generous/carouselRightNavDisable.png) 0 0 no-repeat;
}
.bannerscollection_zoominout.generous .play_pause {
	position:absolute;
	width:5px;
	height:10px;
	background:url(skins/generous/pause_off.png) no-repeat;
	z-index:15;
}

.bannerscollection_zoominout.generous .xplay {
	background:url(skins/generous/play_off.png) no-repeat;
}



/*
.lbg_inner_div {
	padding:0px 4px 0px 4px;
}

.lbg_inner_div img {
	padding:0px 0px 0px 0px;
}*/















/*********************************Text Styles***************************************************/

.bannerscollection_zoominout_texts {
	position:absolute;
	z-index:2;
	display: none;
	width:100%;
}
.bannerscollection_zoominout_text_line {
	position:absolute;
}
/****/





.hideElement {
	display:none;
}

/*
.noTransition {
	-moz-transition:none;
	-webkit-transition:none;
	-o-transition:color 0 ease-in;
	transition:none;
	-webkit-transform:none;
	-moz-transform:none;
	-o-transform:none;
	transform:none;
}*/

